<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Estudiantes</title>
</head>
<body>
  <h1><%= titulo %></h1>
  <ul>
    <% estudiantes.forEach( estudiante => { %>
      <li>Nombre: <%= estudiante.nombre %>, Edad: <%= estudiante.edad %></li>
    <% }) %>
  </ul>

  <form action="/students" method="POST">
    <input type="text" name="nombre" placeholder="Nombre" required>
    <input type="number" name="edad" placeholder="Edad" required>
    <button type="submit">Agregar Estudiante</button>
</body>
</html>